hibernate.connection.url=jdbc:mysql://[MYSQL_DATABASE_HOST]:3306/[MYSQL_DATABASE_NAME]
hibernate.connection.password=[MYSQL_DATABASE_PASSWORD]
hibernate.connection.username=[MYSQL_DATABASE_USERNAME]
hibernate.show_sql=true
hibernate.current_session_context_class=thread
hibernate.hbm2ddl.auto=update

knet.username=[API_USR]
knet.password=[API_PWD]
knet.api_url=https://k-net.dk/api/v2/network
knet.reset_password_link=https://google.com/?q=test
booking.user_cache_timeout=24

captcha.url=https://www.google.com/recaptcha/api/siteverify
captcha.secret=[RECAPTHA-PRIVATE-KEY]
booking.user_context_key=user
booking.debug_mode=true
captcha.enabled=false